
<li>Add a button which says "display details"</li>
<li>add a paragraph with any content of your choice</li>
<li>toggle the displaying of that paragraph with the button created in the first step</li>
<li>log all the button clicks in an array and output that array below thw secret paragraph</li>
<li>starting at the 5th log item, give all the future log items a blue background and white color</li>
<hr>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onClicking()">Display Details</button>
      <p  *ngIf="hello">hey hello</p>
      <div
       *ngFor="let numbers of array" [ngStyle]="{backgroundColor: numbers >= 5? 'blue' :'transperent'}"
        [ngClass]="{'colour': numbers >= 5}">{{numbers}}
      </div>

    </div>
  </div>
</div>

