<li> create three new compponents: gameControl, odd an even</li>
<li>game control component should have buttons to start and stop the game</li>
<li>when starting the game the event should get emmited</li>
<li>the event should be listenable from outside the component</li>
<li>when stopping the game, no more events should get emmited</li>
<li>a new odd component should get created for every odd number emitted, the same should happen for the event component</li>
<li>simply output odd-number or even-number in the two components</li>
<li>style the element holding your output text differently in both components</li>

<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (intervalFired)="onStarting($event)"></app-game-control>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
    </div>
  </div>
</div>

